{% extends 'wrapper/base.html' %}
{% load static %}
{% load i18n %}
    {% block title %}<title>{% trans 'Haqqımızda' %}</title>{% endblock title %}
    {% block description %}<meta content="{{ about.description|truncatechars:255 }}" name="description">{% endblock description %}
{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-1 text-white animated slideInDown">{% trans 'Haqqımızda' %}</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">{% trans 'Ana səhifə' %}</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">{% trans 'Haqqımızda' %}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img">
                        <img class="img-fluid" src="{{about.photo.url}}" alt="">
                        <img class="img-fluid" src="{{about.photo_two.url}}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h4 class="section-title">{% trans 'Haqqımızda' %}</h4>
                    <h1 class="display-5 mb-4">{{ about.title }}</h1>
                    {{ about.description|safe }}

                    <div class="d-flex align-items-center mb-5">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center border border-5 border-primary" style="width: 120px; height: 120px;">
                            <h1 class="display-1 mb-n2" data-toggle="counter-up">{{ about.counter }}</h1>
                        </div>
                        <div class="ps-4">
                            <h3>{% trans 'İldən' %}</h3>
                            <h3>{% trans 'Çox' %}</h3>
                            <h3 class="mb-0">{% trans 'İş təcrübəsi' %}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Feature Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h4 class="section-title">{% trans 'NİYƏ BİZ?' %}</h4>
                    <h1 class="display-5 mb-4">{{ whyus.title }}</h1>
                    <p class="mb-4">{{ whyus.description|striptags }} </p>
                    <div class="row g-4">
                        {% for label in whyus.labels.all %}
                        <div class="col-12">
                            <div class="d-flex align-items-start">
                                <img class="flex-shrink-0" src="{{label.icon.url}}" alt="Icon">
                                <div class="ms-4">
                                    <h3>{{ label.title }}</h3>
                                    <p class="mb-0">{{ label.description }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="feature-img">
                        <img class="img-fluid" src="{{ whyus.photo.url }}" alt="">
                        <img class="img-fluid" src="{{ whyus.photo_two.url }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->


    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h4 class="section-title">{% trans 'Komandamız' %}</h4>
                <h1 class="display-5 mb-4">{% trans 'Bizim peşəkar komandamızla tanış olun' %}</h1>
            </div>
            <div class="row g-0 team-items">
                {% for member in team %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.{{ forloop.counter1 }}s">
                    <div class="team-item position-relative">
                        <div class="position-relative">
                            <img class="img-fluid" src="{{ member.photo.url }}" alt="">
                            <div class="team-social text-center">
                                {% if member.facebook %}
                                <a class="btn btn-square" href="{{ member.facebook }}"><i class="fab fa-facebook-f"></i></a>
                                {% endif %}
                                {% if member.instagram %}
                                <a class="btn btn-square" href="{{ member.instagram }}"><i class="fab fa-instagram"></i></a>
                                {% endif %}
                                {% if member.whatsapp %}
                                <a class="btn btn-square" href="https://api.whatsapp.com/send?phone={{ member.whatsapp }}&amp;text=Salam, mənim sualım var."><i class="fab fa-whatsapp"></i></a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="bg-light text-center p-4">
                            <h3 class="mt-2">{{ member.full_name }}</h3>
                            <span class="text-primary">{{ member.position }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Team End -->
{% include 'etc/footer.html' %}
{% endblock content %}