{% extends 'wrapper/base.html' %}
{% load static %}
{% load i18n %}
    {% block title %}<title>{% trans 'Xidmət' %}: {{ service.name }}</title>{% endblock title %}
    {% block description %}<meta content="{{ service.description|truncatechars:255 }}" name="description">{% endblock description %}
{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-1 text-white animated slideInDown">{{ service.name }}</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">{% trans 'Ana səhifə' %}</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">{{ service.name }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
                    <h4 class="section-title">{{ service.name }}</h4>
                    {{ service.description|safe }}
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    {% include 'etc/footer.html' %}

{% endblock content %}